abrt
dconf
evolution
goa-1.0
gtk-3.0
ibus
nautilus
pulse
user-dirs.dirs
user-dirs.locale
.gsd-keyboard.settings-ported
Code
JetBrains
enchant
go/telemetry
LarkInternational
autostart
calibre
bat/themes
ciromattia
evince
glib-2.0/settings
koodo-reader
neofetch
totem
vesktop
vlc
xdg-terminals.list
monitors.xml~
monitors.xml
mimeapps.list
QtProject.conf
GNOME-xdg-terminals.list
